.mobile .group-1000001312 {
  display: flex;
  gap: 16.1px;
  height: 45px;
  margin-left: 16.4px;
  margin-top: 18px;
  width: 154px;
}

.mobile .group-1000001292 {
  height: 45.52px;
  margin-left: -0.3px;
  margin-top: -0.3px;
  width: 45.52px;
}

.mobile .join-our-reddit-community {
  height: 36px;
  letter-spacing: 0.28px;
  line-height: normal;
  margin-top: 5.3px;
  width: 91px;
}

