.mobile .frame-1000001278 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5.44px;
  height: 151.44px;
  margin-left: 28.8px;
  margin-top: 32.0px;
  position: relative;
  width: 184.38px;
}

.mobile .q1-2022-whitepaper-a-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20.0px;
  margin-top: -0.78px;
  position: relative;
  white-space: nowrap;
}

.mobile .q1-2022-whitepaper-a-5 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.mobile .frame-1000001278.frame-1000001279 {
  height: 133.44px;
  margin-left: 20.7px;
}

