.home .group-5460 {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 3.81px;
  min-width: 433px;
}

.home .overlap-group3-1 {
  height: 293px;
  position: relative;
  width: 433px;
}

.home .overlap-group2-1 {
  height: 293px;
  left: 0;
  position: absolute;
  top: 0;
  width: 433px;
}

.home .website-ground-current-view-1 {
  height: 188px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 105px;
  width: 433px;
}

.home .legendary-nft-card {
  height: 165px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 124px;
}

.home .legendary-nft-card-1 {
  height: 165px;
  left: 251px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 124px;
}

.home .bolt {
  height: 63px;
  left: 198px;
  position: absolute;
  top: 28px;
  width: 37px;
}

