.mobile .group-1000001302 {
  align-items: flex-end;
  display: flex;
  height: 306px;
  margin-top: 24px;
  min-width: 330px;
}

.mobile .overlap-group7 {
  height: 310px;
  margin-bottom: -3.48px;
  margin-left: -3px;
  position: relative;
  width: 334px;
}

.mobile .vector-6 {
  height: 276px;
  left: 2px;
  position: absolute;
  top: 33px;
  width: 333px;
}

.mobile .group-1000001301 {
  height: 310px;
  left: 0;
  position: absolute;
  top: 0;
  width: 330px;
}

